.contextMenu {
  display: none;
  overflow: hidden;
  background: #fff;
  border-radius: 4px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}
.contextMenu .item {
  display: flex;
  align-items: center;
  padding: 5px 12px;
  cursor: pointer;
  transition: all 0.3s;
  user-select: none;
}
.contextMenu .item:hover {
  background: #e6f7ff;
}
.contextMenu .item i {
  margin-right: 8px;
}
.contextMenu :global .disable :local .item {
  color: rgba(0, 0, 0, 0.25);
  cursor: auto;
}
.contextMenu :global .disable :local .item:hover {
  background: #fff;
}
